# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\Daniel\Documents\Durham College\Computer Programming and Analysis\Semester 3\OOP 3200\Labs\Java Labs\Lab 1\OOP3200-F2020-JavaLab1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
